# Tea-testing example

https://github.com/e10v/tea-tasting

## Import library

In [1]:
import tea_tasting as tt

## Generate synthetic data

For this example, I'll generate synthetic data with the help of the `make_users_data` method.

In [2]:
data = tt.make_users_data(seed=42)

In [3]:
data

      user  variant  sessions  orders    revenue
0        0        1         2       1   9.166147
1        1        0         2       1   6.434079
2        2        1         2       1   7.943873
3        3        1         2       1  15.928675
4        4        0         1       1   7.136917
...    ...      ...       ...     ...        ...
3995  3995        0         2       0   0.000000
3996  3996        0         2       0   0.000000
3997  3997        0         3       0   0.000000
3998  3998        0         1       0   0.000000
3999  3999        0         5       2  17.162459

[4000 rows x 5 columns]

In [4]:
experiment = tt.Experiment(
    {
        "sessions_per_user": tt.Mean("sessions"),
        "orders_per_sessions": tt.RatioOfMeans("orders", "sessions"),
        "orders_per_user": tt.Mean("orders"),
        "revenue_per_user": tt.Mean("revenue")
    },
    variant="variant"
)

In [5]:
experiment

Experiment(metrics={'sessions_per_user': Mean(value='sessions', covariate=None, alternative='two-sided', confidence_level=0.95, equal_var=False, use_t=True, alpha=0.05, ratio=1, power=0.8, effect_size=None, rel_effect_size=None, n_obs=None), 'orders_per_sessions': RatioOfMeans(numer='orders', denom='sessions', numer_covariate=None, denom_covariate=None, alternative='two-sided', confidence_level=0.95, equal_var=False, use_t=True, alpha=0.05, ratio=1, power=0.8, effect_size=None, rel_effect_size=None, n_obs=None), 'orders_per_user': Mean(value='orders', covariate=None, alternative='two-sided', confidence_level=0.95, equal_var=False, use_t=True, alpha=0.05, ratio=1, power=0.8, effect_size=None, rel_effect_size=None, n_obs=None), 'revenue_per_user': Mean(value='revenue', covariate=None, alternative='two-sided', confidence_level=0.95, equal_var=False, use_t=True, alpha=0.05, ratio=1, power=0.8, effect_size=None, rel_effect_size=None, n_obs=None)}, variant='variant')

In [6]:
result = experiment.analyze(data)
print(result)

             metric control treatment rel_effect_size rel_effect_size_ci pvalue
  sessions_per_user    2.00      1.98          -0.66%      [-3.7%, 2.5%]  0.674
orders_per_sessions   0.266     0.289            8.8%      [-0.89%, 19%] 0.0762
    orders_per_user   0.530     0.573            8.0%       [-2.0%, 19%]  0.118
   revenue_per_user    5.24      5.73            9.3%       [-2.4%, 22%]  0.123